.card {
  width: 90%;
  transform: rotate(1.5deg);
}
.card-2 {
  width: 100%;
  transform: rotate(-1.7deg);
}
.card-3 {
  transform: rotate(1.6deg);
}

.card-4 {
  transform: rotate(2.2deg);
  width: 90%;
}

.card-5 {
  width: 100%;
  transform: rotate(-2.5deg);
}
.card-6 {
  transform: rotate(0.3deg);
}

.card-7 {
  width: 90%;
}

.card-7-1 {
  height: 73%;
}
.card-9 {
  height: 97%;
}

.body-text {
  width: 32%;
}

.text-1 {
  margin-left: 13.2%;
}

.text-2 {
  width: 75%;
}

.text-3 {
  width: 45%;
}
.text-4 {
  width: 32%;
}
.div-1 {
  margin-top: 20%;
}

img {
  object-fit: contain;
}

.img-1 {
  width: 70px;
  height: 80px;
}

.img-2 {
  width: 50%;
}

.img-3 {
  width: 59%;
}
.img-4 {
  width: 100%;
  filter: grayscale(100%)
}

.foot {
  height: 49%;
}
body {
  background-color: #fcfbfb;
}
